# Items to ignore when downloading a zip

# Files
.gitattributes export-ignore
pmpro-buddypress-banner.png export-ignore
README.md export-ignore

# Folders
.github export-ignore
.wordpress-org export-ignore
